body {
    margin: 0;
    font-family: Arial;
    background: #fff7e6;
    color: #333;
}

header {
    background: #663399;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header a.active {
    border-bottom: 2px solid #ffcc00;
}

.about-section {
    padding: 120px 50px;
    text-align: center;
}

.team-section {
    padding: 80px 50px;
    text-align: center;
}

.trainer-cards {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-top: 30px;
}

.trainer {
    background: #ffcc00;
    padding: 40px;
    border-radius: 8px;
    width: 200px;
    color: #333;
    font-weight: bold;
}

footer {
    background: #663399;
    color: white;
    text-align: center;
    padding: 30px;
}