body {
    margin: 0;
    font-family: Arial;
    background: #f2f2f2;
    color: #111;
}

header {
    background: #1a1a1a;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

header a.active {
    border-bottom: 2px solid #00ccff;
}

.hero {
    background: #00ccff;
    color: white;
    text-align: center;
    padding: 150px 50px;
}

.cards {
    display: flex;
    gap: 20px;
    padding: 50px;
    justify-content: center;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 6px;
    width: 250px;
    text-align: center;
}

footer {
    background: #1a1a1a;
    color: white;
    text-align: center;
    padding: 30px;
}